.App {
  margin: 10px;
  background-color: lightgoldenrodyellow;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.container {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid lightgray;

}

.img-container {
  flex-wrap: wrap;
  column-gap: 10px;
  display: flex;
  justify-content: center;
}

.imageListImg {
  width: 16%;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 10px;
  scale: 1.0;
  transition: scale 1s linear 0.05s;
}

img:hover {
  scale: 1.15;
  z-index: 1;
}